<div class="modal-form-wrapper">
    <div class="modal-form-header">
        <div class="modal-form-header-title" ng-bind="::('ALIAS.CREATE.TITLE' | translate)"></div>
        <div class="modal-form-header-close">
            <button type="button" ng-click="close();"><i data-icon="u" class="base-icon"></i></button>
        </div>
    </div>
    <div class="modal-form-body">
        <form class="general-form">
            <div class="general-form-field-group field-group-vertical">
                <label class="field-group-label bolder-label" ng-bind="::('ALIAS.CREATE.UNIQUE_NAME' | translate)"></label>
                <span class="create-alias-description" ng-bind="::('ALIAS.CREATE.UNIQUE_NAME.HINT' | translate)"></span>
                <div class="general-input-wrapper need-to-focus-field">
                    <span class="alias-character">@</span>
                    <input type="text" class="general-input need-to-focus contextMenuButton" ng-model="alias.name" ng-model-options="{debounce: 300}"
                           ng-change="aliasChange();" maxlength="25" placeholder="{{::('ALIAS.ENTER_ALIAS' | translate)}}"/>
                    <i data-icon="A" class="base-icon success-icon" ng-show="alias.name.length >= 6 && !alias.exists"></i>
                </div>
                <span class="field-group-error" ng-style="{'visibility': (alias.exists && alias.name.length >= 6) || (alias.name.length > 0 && alias.name.length < 6) ? 'visible' : 'hidden'}">
                    {{(alias.exists && alias.name.length >= 6) ? ('ALIAS.ERROR.UNIQUE_NAME' | translate) : ('ALIAS.ERROR.MIN_LENGTH' | translate)}}
                </span>
            </div>
            <div class="general-form-field-group field-group-vertical smaller-indent">
                <label class="field-group-label bolder-label" ng-bind="::('COMMON.COMMENT' | translate)"></label>
                <span class="create-alias-description" ng-bind="::('ALIAS.CREATE.COMMENT.HINT' | translate)"></span>
                <textarea elastic class="general-textarea textarea_count_rows contextMenuButton" data-ng-model="alias.comment" rows="1"
                          max-length-field="150" data-ng-trim="false" placeholder="{{::('COMMON.ACTIONS.ENTER.COMMENT' | translate)}}"></textarea>
                <span class="field-group-error" ng-style="{'visibility': (alias.comment.length >= 150) ? 'visible' : 'hidden'}" ng-bind="::('COMMON.MAX_LENGTH_COMMENT' | translate)"></span>
            </div>
            <div class="general-form-price-description">
                <span class="price-text">{{::('ALIAS.CREATE.PRICE' | translate)}} {{alias.reward}} {{currencySymbol}}</span>
                <span class="price-error" ng-if="notEnoughMoney" ng-bind="::('ALIAS.ERROR.NO_MONEY_TO_CREATE' | translate)"></span>
            </div>
            <div class="general-form-field-group need-master-password" ng-show="needPass">
                <div class="general-input-wrapper need-to-focus-field">
                    <input type="password" class="general-input need-to-focus contextMenuButton" ng-model="appPass"
                           contextMenuEnabledItems="paste" placeholder="{{::('MASTER_PASS.ENTER' | translate)}}"/>
                    <i data-icon="." class="base-icon eye-icon" form-password></i>
                </div>
            </div>
            <div class="general-form-control-buttons">
                <button type="button" class="control-button" ng-click="close();" ng-bind="::('COMMON.ACTIONS.CANCEL' | translate)"></button>
                <button type="button" class="control-button" ng-click="confirm();" data-ng-disabled="!canRegister" ng-bind="::('COMMON.ACTIONS.CREATE' | translate)"></button>
            </div>
        </form>
    </div>
</div>
