<div class="master-pass-tooltip-header">
  <h2 ng-bind="::('MASTER_PASS.RECOMMENDATION.HEADER' | translate)"></h2>
</div>
<div class="master-pass-tooltip-content">
  <div class="master-pass-tooltip-icon-wrapper">
    <i data-icon="&#xe00a;" class="base-icon master-pass-tooltip-icon"></i>
    <span ng-bind="::('MASTER_PASS.RECOMMENDATION.CONTENT1' | translate)"></span>
  </div>
  <div class="master-pass-tooltip-icon-wrapper">
    <i data-icon="&#xe00b;" class="base-icon master-pass-tooltip-icon"></i>
    <span ng-bind="::('MASTER_PASS.RECOMMENDATION.CONTENT2' | translate)"></span>
  </div>
  <div class="master-pass-tooltip-icon-wrapper">
    <i data-icon="&#xe00c;" class="base-icon master-pass-tooltip-icon"></i>
    <span ng-bind="::('MASTER_PASS.RECOMMENDATION.CONTENT3' | translate)"></span>
  </div>
</div>
<div class="master-pass-tooltip-footer">
  <span ng-bind="::('MASTER_PASS.RECOMMENDATION.FOOTER1' | translate)"></span>
  <span ng-bind="::('MASTER_PASS.RECOMMENDATION.FOOTER2' | translate)"></span>
</div>