<div class="modal-form-wrapper">
    <div class="modal-form-header">
        <div class="modal-form-header-title" ng-bind="::('SAFE.CHANGE_PASSWORD' | translate)"></div>
        <div class="modal-form-header-close">
            <button type="button" ng-click="close();"><i data-icon="u" class="base-icon"></i></button>
        </div>
    </div>
    <div class="modal-form-body">
        <form name="changeSafePassForm" novalidate class="general-form" ng-submit="changeSafePassForm.$valid && safe.newPass == safe.newPassRepeat ? save(safe.oldPass, safe.newPass) : false">
            <div class="general-form-field-group field-group-vertical">
                <label class="field-group-label bolder-label" ng-bind="::('SAFE.CURRENT_PASSWORD' | translate)"></label>
                <div class="general-input-wrapper need-to-focus-field">
                    <input type="password" class="general-input need-to-focus contextMenuButton" ng-model="safe.oldPass" contextMenuEnabledItems="paste" autofocus>
                    <i data-icon="." class="base-icon eye-icon" form-password></i>
                </div>
                <span class="field-group-error" ng-style="{'visibility': (changeSafePassForm.$submitted && safe.oldPass != oldPass) ? 'visible' : 'hidden'}" ng-bind="::('SAFE.ERROR.INCORRECT_PASSWORD' | translate)"></span>
            </div>
            <div class="general-form-field-group field-group-vertical new-password">
                <label class="field-group-label bolder-label" ng-bind="::('COMMON.NEW_PASSWORD' | translate)"></label>
                <div class="general-input-wrapper need-to-focus-field">
                    <input type="password" name="safePass" class="general-input need-to-focus contextMenuButton" ng-model="safe.newPass"
                           contextMenuEnabledItems="paste" placeholder="{{::('COMMON.NEW_PASSWORD' | translate | lowercase)}}" pattern="{{passPattern}}">
                    <i data-icon="." class="base-icon eye-icon" form-password></i>
                </div>
                <div class="general-input-wrapper need-to-focus-field bigger-indent">
                    <input type="password" name="safePassRepeat" class="general-input need-to-focus contextMenuButton" ng-model="safe.newPassRepeat"
                           contextMenuEnabledItems="paste" placeholder="{{::('COMMON.CHANGE_PASS_CONF' | translate | lowercase)}}" pattern="{{passPattern}}">
                    <i data-icon="." class="base-icon eye-icon" form-password></i>
                </div>
                <span class="field-group-error" ng-style="{'visibility': (((changeSafePassForm.$submitted || changeSafePassForm.safePassRepeat.$dirty) && safe.newPass != safe.newPassRepeat) || (changeSafePassForm.safePass.$error.pattern || changeSafePassForm.safePassRepeat.$error.pattern)) ? 'visible' : 'hidden'}">
                    {{changeSafePassForm.safePass.$error.pattern || changeSafePassForm.safePassRepeat.$error.pattern ? ('MASTER_PASS.WRONG' | translate) : ('MASTER_PASS.NOT_MATCH' | translate)}}
                </span>
            </div>
            <div class="general-form-control-buttons">
                <button type="button" class="control-button" ng-click="close();" ng-bind="::('COMMON.ACTIONS.CANCEL' | translate)"></button>
                <button type="submit" class="control-button" ng-bind="::('COMMON.ACTIONS.CONTINUE' | translate)"></button>
            </div>
        </form>
    </div>
</div>
