[Desktop Entry]
Version=1.0
Name=Virie
Exec=Virie
Icon=/usr/share/pixmaps/desktop_linux_icon.png
MimeType=application/x-desktop
Terminal=true
Type=Application